.text-center{
    text-align: center;
}
.container{
    height: fit-content;
    width: fit-content;
}
.mx-auto{
    margin: auto;
}
.flex{
    background-color: rgb(86, 51, 116);
    display: flex;
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}