.text-center{
    text-align: center;
}
.container{
    height: fit-content;
    width: fit-content;
}
.mx-auto{
    margin: auto;
}
.flex{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 118, 86);
    border-radius: 16px;
    box-shadow: 1px 3px 6px rgba(113, 115, 119, 0.5);
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}